# Autoscaling
/libs/vm_monitor/ @serendb/autoscaling

# DevProd & PerfCorr
/.github/ @serendb/developer-productivity @serendb/performance-correctness

# Compute
/pgxn/ @serendb/compute
/vendor/ @serendb/compute
/compute/ @serendb/compute
/compute_tools/ @serendb/compute

# Proxy
/libs/proxy/ @serendb/proxy
/proxy/ @serendb/proxy

# Storage
/pageserver/ @serendb/storage
/safekeeper/ @serendb/storage
/storage_controller @serendb/storage
/storage_scrubber @serendb/storage
/libs/pageserver_api/ @serendb/storage
/libs/remote_storage/ @serendb/storage
/libs/safekeeper_api/ @serendb/storage

# Shared
/pgxn/serendb/ @serendb/compute @serendb/storage
/libs/compute_api/ @serendb/compute @serendb/control-plane
/libs/postgres_ffi/ @serendb/compute @serendb/storage
